/* Autosigma AMS 2.0 Vehicle Page Styling */
/* General Styles */
/* Default Color Scheme */
#autosigma.autosigma-ams2 {
    --accent-color-main: #333333;
    --accent-color-dark: #000000;
}
#autosigma.autosigma-ams2 * {
    box-sizing: border-box;
}
main#autosigma.autosigma-ams2 a {
    transition: 0.2s;
}
#autosigma.autosigma-ams2 .autosigma-button {
    background-color: var(--accent-color-main);
    text-align: center;
    color: #FFFFFF;
    text-decoration: none;
}
#autosigma.autosigma-ams2 .autosigma-button:hover {
    background-color: var(--accent-color-dark);
}
#ams-single-page.ams-bootstrap{
    min-width: 0 !important;
}
/* Hero Section */
#autosigma.autosigma-ams2.autosigma-ams-vehicle-page .autosigma-hero-section {
    width: 100%;
    display: flex;
    height: 500px;
    background-size: cover;
    background-position: center bottom;
    background-image: url('https://ams.nyc3.cdn.digitaloceanspaces.com/images/background.png');
}
#autosigma.autosigma-ams2.autosigma-ams-vehicle-page .autosigma-hero-section > div {
    flex: 1;
}
#autosigma.autosigma-ams2.autosigma-ams-vehicle-page .autosigma-hero-section .autosigma-model-image-wrapper {
    display: flex;
    padding-bottom: 30px;
}
#autosigma.autosigma-ams2.autosigma-ams-vehicle-page .autosigma-hero-section .autosigma-model-image-wrapper .autosigma-model-image{
    align-self: flex-end;
}
#autosigma.autosigma-ams2.autosigma-ams-vehicle-page .autosigma-hero-section div.jellyBean {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    display: inline-block;
    height: 100px;
    width: 100%;
    margin-top: auto;
}
@media(min-weidth: 1199.99px){
    #ams-single-page main#autosigma.autosigma-ams2.autosigma-ams-vehicle-page .autosigma-hero-section,
	#ams-single-page #autosigma.autosigma-ams2.autosigma-ams-vehicle-page .autosigma-hero-section{
        min-height: 500px;
    }
}
@media(max-width: 1199.98px){
    #ams-single-page main#autosigma.autosigma-ams2.autosigma-ams-vehicle-page .autosigma-hero-section{
        align-items: normal;
        min-height: 400px;
        height: auto;
    }
    .ams-flip-card-front, .ams-flip-card-back{
        max-height: 100%;
    }
    #autosigma.autosigma-ams2.autosigma-ams-vehicle-page .autosigma-hero-section .autosigma-model-image-wrapper{
        align-items: flex-end;
    }
}
@media(max-width:991px){
    #autosigma.autosigma-ams2.autosigma-ams-vehicle-page .ams-flip-card-front{
        position: relative;
    }
}
/* Offer Section */
#autosigma.autosigma-ams2.autosigma-ams-vehicle-page .autosigma-offer-slider {
    display: flex;
    color: #fff;
    background: rgba(0, 0, 0, 0.67);
    padding: 10px 15px;
    height: 100%;
}
#autosigma.autosigma-ams2.autosigma-ams-vehicle-page .autosigma-offer-slider-button {
    content: "\f077";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    position: absolute;
    top: 240px;
    transition: 0.1s;
    color: rgba(255, 255, 255, 0.67);
}
#autosigma.autosigma-ams2.autosigma-ams-vehicle-page .autosigma-offer-slider-button-left {
    left: 20px;
    transform: rotate(-90deg);
}
#autosigma.autosigma-ams2.autosigma-ams-vehicle-page .autosigma-offer-slider-button-right {
    right: calc(50% + 20px);
    transform: rotate(90deg);
}
#autosigma.autosigma-ams2.autosigma-ams-vehicle-page .autosigma-offer-slider .autosigma-individual-offer {
    height: 100%;
    flex: 1;
    padding: 10px;
    border-right: 1px solid rgba(255, 255, 255, 0.5);
}
#autosigma.autosigma-ams2.autosigma-ams-vehicle-page .autosigma-offer-slider .autosigma-offer-title {
    font-size: 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    padding-bottom: 0 5px;
}
#autosigma.autosigma-ams2.autosigma-ams-vehicle-page .autosigma-offer-slider .autosigma-offer-title .autosigma-offer-trim {
    font-size: 15px;
}
#autosigma.autosigma-ams2.autosigma-ams-vehicle-page .autosigma-offer-slider .autosigma-offer-information {
    margin-bottom: 50px;
}
#autosigma.autosigma-ams2.autosigma-ams-vehicle-page .autosigma-offer-slider .autosigma-offer-information .autosigma-offer-type {
    font-size: 15px;
    font-weight: 400;
}
#autosigma.autosigma-ams2.autosigma-ams-vehicle-page .autosigma-offer-slider .autosigma-offer-information .autosigma-offer-value {
    font-size: 50px;
    font-weight: 700;
}
#autosigma.autosigma-ams2.autosigma-ams-vehicle-page .autosigma-offer-slider .autosigma-offer-information .autosigma-offer-value sup{
    bottom: -.25em;
}
#autosigma.autosigma-ams2.autosigma-ams-vehicle-page .autosigma-offer-slider .autosigma-offer-information .autosigma-offer-value sub{
    bottom: 0;
}
#autosigma.autosigma-ams2.autosigma-ams-vehicle-page .autosigma-offer-slider .autosigma-offer-information .autosigma-offer-currency,
#autosigma.autosigma-ams2.autosigma-ams-vehicle-page .autosigma-offer-slider .autosigma-offer-information .autosigma-offer-frequency {
    font-size: 35px;
    font-weight: 300;
    text-transform: uppercase;
}
#autosigma.autosigma-ams2.autosigma-ams-vehicle-page .autosigma-offer-slider .autosigma-offer-information .autosigma-offer-frequency{
    bottom: 0;
}
#autosigma.autosigma-ams2.autosigma-ams-vehicle-page .autosigma-offer-slider .autosigma-offer-information .autosigma-offer-details {
    text-align: right;
    font-size: 12px;
}
#autosigma.autosigma-ams2.autosigma-ams-vehicle-page .autosigma-offer-slider .autosigma-offer-ctas {
    display: block;
    margin-bottom: 20px;
}
#autosigma.autosigma-ams2.autosigma-ams-vehicle-page .autosigma-offer-slider .autosigma-offer-ctas > * {
    display: inline-block;
    width: auto;
    text-align: center;
}
#autosigma.autosigma-ams2.autosigma-ams-vehicle-page .autosigma-offer-slider .autosigma-offer-ctas .autosigma-button {
    border: 1px solid #FFFFFF;
    padding: 3px;
    display: inline-block;
    width: 100%;
    max-width: 150px;
    font-size: 16px;
}
#autosigma.autosigma-ams2.autosigma-ams-vehicle-page .autosigma-offer-slider .autosigma-offer-terms {
    display: flex;
    justify-content: center;
}
#autosigma.autosigma-ams2.autosigma-ams-vehicle-page .autosigma-offer-slider .autosigma-offer-terms a {
    color: #FFFFFF;
    text-decoration: none;
    transition: 0.1;
}
#autosigma.autosigma-ams2.autosigma-ams-vehicle-page .autosigma-offer-slider .autosigma-offer-terms a:hover {
    color: rgba(255, 255, 255, 0.67);
}
/* CTA Section */
#autosigma.autosigma-ams2.autosigma-ams-vehicle-page .autosigma-cta-section {
    width: 100%;
    display: flex;
    margin: 20px 0;
}
#autosigma.autosigma-ams2.autosigma-ams-vehicle-page .autosigma-cta-section > .autosigma-cta-wrapper {
    flex: 1;
    padding: 0 15px;
}
#autosigma.autosigma-ams2.autosigma-ams-vehicle-page .autosigma-cta-section > .autosigma-cta-wrapper:first-child {
    padding-left: 0;
}
#autosigma.autosigma-ams2.autosigma-ams-vehicle-page .autosigma-cta-section > .autosigma-cta-wrapper:last-child {
    padding-right: 0;
}
#autosigma.autosigma-ams2.autosigma-ams-vehicle-page .autosigma-cta-section > .autosigma-cta-wrapper > a {
    display: block;
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
}
@media (max-width: 767px) {
    #autosigma.autosigma-ams2.autosigma-ams-vehicle-page .autosigma-cta-section {
        flex-direction: column;
    }
    #autosigma.autosigma-ams2.autosigma-ams-vehicle-page .autosigma-cta-section > .autosigma-cta-wrapper {
        padding: 0;
        margin-bottom: 10px;
    }
}
/* Content Section */
#autosigma.autosigma-ams2.autosigma-ams-vehicle-page .autosigma-content-section {
    width: 100%;
    margin-bottom: 35px;
}
#autosigma.autosigma-ams2.autosigma-ams-vehicle-page .autosigma-content-section .autosigma-page-title {
    text-align: center;
    font-size: 30px;
}
