.ams-flip-card {
    display: block;
    flex: 1;
}
.ams-flip-card.active .ams-flip-card-inner {
    transform: rotateY(180deg);
}
.ams-flip-card-front,
.ams-flip-card-back {
    position: absolute;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    width: 100%;
}
.ams-flip-card-inner {
    transition: transform 0.6s;
    transform-style: preserve-3d;
}
.ams-flip-card-back {
    transform: rotateY(180deg);
}