/* autosigma AMS 2.0 Specials Page Styling */
/* Default Color Scheme */
#autosigma.autosigma-ams2 {
    --background-color: #8E8E8E;
    --button-color-one: #333333;
    --button-color-one-hover: #1E1E1E;
    --button-color-two: #4F4F4F;
    --button-color-two-hover: #1E1E1E;
}
.container.specials-section{
    margin: 0 auto;
    width: 100%;
}
#autosigma.autosigma-ams2.autosigma-ams-specials-page .autosigma-offer-section .autosigma-row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
@media (max-width: 767px) {
    #autosigma.autosigma-ams2.autosigma-ams-specials-page .autosigma-offer-section .autosigma-row {
        flex-direction: column;
    }
}
#autosigma.autosigma-ams2.autosigma-ams-specials-page .autosigma-offer-section .autosigma-row > * {
    flex: 1 0 10%;
    margin: 10px;
    min-height: 100px;
}
@media (max-width: 767px) {
    #autosigma.autosigma-ams2.autosigma-ams-specials-page .autosigma-offer-section .autosigma-row > * {
        margin: 0;
        margin-bottom: 20px;
    }
}
.ams-flip-card-front {
    color: #FFFFFF;
    background: var(--background-color);
}
#autosigma.autosigma-ams2.autosigma-ams-specials-page .autosigma-offer-individual {
    color: #FFFFFF;
    background: var(--background-color);
    padding: 20px;
}
#autosigma.autosigma-ams2.autosigma-ams-specials-page .autosigma-offer-individual .autosigma-offer-header {
    display: flex;
    align-items: center;
}
#autosigma.autosigma-ams2.autosigma-ams-specials-page .autosigma-offer-individual .autosigma-offer-header > * {
    flex: 1;
}
#autosigma.autosigma-ams2.autosigma-ams-specials-page .autosigma-offer-individual .autosigma-offer-header .autosigma-offer-title-wrapper h2.autosigma-offer-title {
    font-size: 15px;
    text-align: right;
    float: left;
}
#autosigma.autosigma-ams2.autosigma-ams-specials-page .autosigma-offer-individual .autosigma-offer-header .autosigma-offer-title-wrapper h2.autosigma-offer-title .autosigma-trim{
    min-height: 16px;
    display: block;
}
#autosigma.autosigma-ams2.autosigma-ams-specials-page .autosigma-offer-individual .autosigma-offer-header .autosigma-offer-logo {
    float: right;
    max-width: 100%;
}
#autosigma.autosigma-ams2.autosigma-ams-specials-page .autosigma-offer-ctas {
    width: 100%;
    display: flex;
    margin: 16px 0;
}
#autosigma.autosigma-ams2.autosigma-ams-specials-page .autosigma-offer-ctas > * {
    flex: 1;
    padding: 0 10px;
}
#autosigma.autosigma-ams2.autosigma-ams-specials-page .autosigma-offer-ctas > *:first-child {
    text-align: right;
}
#autosigma.autosigma-ams2.autosigma-ams-specials-page .autosigma-offer-ctas > *:last-child {
    text-align: left;
}
#autosigma.autosigma-ams2.autosigma-ams-specials-page .autosigma-offer-ctas .autosigma-offer-cta-wrapper a {
    font-size: 14px;
    color: #FFFFFF;
    text-decoration: none;
    padding: 4px 8px;
    font-weight: 600;
    border: 2px solid #000000;
    box-shadow: 4px 4px 0 #000000;
    transition: 0.2s;
    white-space: nowrap;
}
#autosigma.autosigma-ams2.autosigma-ams-specials-page .autosigma-offer-ctas > *:first-child a {
    background: var(--button-color-one);
}
#autosigma.autosigma-ams2.autosigma-ams-specials-page .autosigma-offer-ctas > *:first-child a:hover {
    background: var(--button-color-one-hover);
}
#autosigma.autosigma-ams2.autosigma-ams-specials-page .autosigma-offer-ctas > *:last-child a {
    background: var(--button-color-two);
}
#autosigma.autosigma-ams2.autosigma-ams-specials-page .autosigma-offer-ctas > *:last-child a:hover {
    background: var(--button-color-two-hover);
}
#autosigma.autosigma-ams2.autosigma-ams-specials-page .autosigma-offer-vehicle-image {
    margin-top: 20px;
    margin-bottom: 5px;
    text-align: center;
}
#autosigma.autosigma-ams2.autosigma-ams-specials-page .autosigma-offer-vehicle-image div.jellyBean {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    display: inline-block;
    height: 200px;
    width: 100%;
    vertical-align: bottom;
}
#autosigma.autosigma-ams2.autosigma-ams-specials-page .autosigma-offer-vehicle-image div.jellyBean img{
    margin: 0 auto;
}
#autosigma.autosigma-ams2.autosigma-ams-specials-page .autosigma-offer-terms a {
    color: #FFFFFF;
    text-decoration: none;
    transition: 0.1s;
}
#autosigma.autosigma-ams2.autosigma-ams-specials-page .autosigma-offer-terms a:hover {
    color: rgba(255, 255, 255, 0.67);
}
#autosigma.autosigma-ams2.autosigma-ams-specials-page .autosigma-offer-information .autosigma-offer-frequency{
    bottom: 0;
}
#autosigma.autosigma-ams2.autosigma-ams-specials-page .autosigma-offer-information .autosigma-offer-value sup,
#autosigma.autosigma-ams2.autosigma-ams-specials-page .autosigma-offer-information .autosigma-offer-value sub{
    font-size: 24px;
}
#autosigma.autosigma-ams2.autosigma-ams-specials-page .autosigma-offer-information .autosigma-offer-value sup{
    top: -1em;
}
.specials-section.bootstrap select.form-control:not([size]):not([multiple]){
    height: auto;
}
@media (min-width: 1440px){
    #autosigma.autosigma-ams2.autosigma-ams-specials-page .autosigma-offer-information .autosigma-offer-value{
        font-size: 60px;
    }
}
@media (max-width: 1439px){
    #autosigma.autosigma-ams2.autosigma-ams-specials-page .autosigma-offer-information .autosigma-offer-value{
        font-size: 55px;
    }
}
@media (min-width: 1200px){
    .specials-section #ams-specials-page #autosigma.autosigma-ams2.autosigma-ams-specials-page .autosigma-offer-section .autosigma-row > *{
        flex: 0 0 25%;
        max-width: 25%;
    }
}
@media (min-width: 768px){
    .specials-section #offer-filters .form-box-main{
        display: flex;
        flex-direction: row;
    }
    .specials-section #offer-filters .form-box-main .form-group{
        flex: 1;
        padding: 0 10px;
    }
}
@media (max-width: 767px){
    .specials-section #offer-filters .form-box-main{
        flex-direction: column;
    }
}
/* ACCORDION */
.specials-section #accordion .collapse:not(.show){
    display: none;
}
.specials-section #accordion .show{
    display: flex !important;
}
.specials-section #accordion .card-header{
    cursor: pointer;
}
.specials-section .accordion .card-header:after {
    font-family: 'FontAwesome';
    content: "\f068";
    float: right;
}
.specials-section .accordion .card-header.collapsed:after {
    /* symbol for "collapsed" panels */
    content: "\f067";
}
.specials-section #offer-filters{
    background-color: #d8d8d8;
    border: none;
    border-radius: 0;
    padding: 10px;
    margin-top: 15px;
}
.specials-section #accordion #offer-filters .card-header{
    border-bottom: none;
    margin-bottom: 0;
    font-size: 22px;
    background: transparent;
    font-weight: bold;
}
.specials-section #accordion #offer-filters .card-body{
    border-top: 1px solid rgb(204,204,204);
    padding-top: 35px;
    padding-left: 15px;
    padding-right: 15px;
}
/* BLAKE COPIED OVER */
.autosigma-offer-information {
    margin-bottom: 50px;
}
.autosigma-offer-information .autosigma-offer-type {
    font-size: 15px;
    font-weight: 400;
}
.autosigma-offer-information .autosigma-offer-value {
    font-size: 70px;
    font-weight: 700;
}
.autosigma-offer-information .autosigma-offer-currency,
.autosigma-offer-information .autosigma-offer-frequency {
    font-size: 35px;
    font-weight: 300;
    text-transform: uppercase;
}
.autosigma-offer-information .autosigma-offer-details {
    text-align: right;
    font-size: 12px;
}
#offer-filters .form-box-main .form-control{
    font-size: 18px;
}
/* DDC Specific Styles */
.ddc-content #offer-filters .form-box-main .form-group i.fa-chevron-down{
    display: none
}
