/* Autosigma AMS 2.0 Ford Specific CSS */


/* Color Scheme */

#autosigma.autosigma-ams2.autosigma-ford {
    --accent-color-main: #ca2222;
    --accent-color-dark: #010101;
    --background-color: #797677;
    --button-color-one: #e70013;
    --button-color-one-hover: #101010;
    --button-color-two: #e70013;
    --button-color-two-hover: #101010;
}


/* Model Images */

#autosigma.autosigma-ams2 #Escape div.jellyBean,
#autosigma.autosigma-ams2.autosigma-escape div.jellyBean {
    background-image: url('https://storage.googleapis.com/autosigma-hub/img/specials/escape.png');
}

#autosigma.autosigma-ams2 #Explorer div.jellyBean,
#autosigma.autosigma-ams2.autosigma-explorer div.jellyBean {
    background-image: url('https://storage.googleapis.com/autosigma-hub/img/specials/explorer.png');
}

#autosigma.autosigma-ams2 #EcoSport div.jellyBean,
#autosigma.autosigma-ams2.autosigma-ecosport div.jellyBean {
    background-image: url('https://storage.googleapis.com/autosigma-hub/img/specials/ecosport.png');
}

#autosigma.autosigma-ams2 #Edge div.jellyBean,
#autosigma.autosigma-ams2.autosigma-edge div.jellyBean {
    background-image: url('https://storage.googleapis.com/autosigma-hub/img/specials/edge.png');
}

#autosigma.autosigma-ams2 #F150 div.jellyBean,
#autosigma.autosigma-ams2.autosigma-f150 div.jellyBean {
    background-image: url('https://storage.googleapis.com/autosigma-hub/ams-2.0/img/makes/ford/f-150/f-150-velocity-blue-driver.png');
}

#bimtoto #Fusion div.jellyBean,
#autosigma.autosigma-ams2.autosigma-fusion div.jellyBean {
    background-image: url('https://storage.googleapis.com/autosigma-hub/img/specials/fusion.png');
}

#autosigma.autosigma-ams2 #Focus div.jellyBean,
#autosigma.autosigma-ams2.autosigma-focus div.jellyBean {
    background-image: url('https://storage.googleapis.com/autosigma-hub/img/specials/focus.png');
}

#autosigma.autosigma-ams2 #Taurus div.jellyBean,
#autosigma.autosigma-ams2.autosigma-taurus div.jellyBean {
    background-image: url('https://storage.googleapis.com/autosigma-hub/img/specials/taurus.png');
}

#autosigma.autosigma-ams2 #Mustang div.jellyBean,
#autosigma.autosigma-ams2.autosigma-Mustang div.jellyBean {
    background-image: url('https://storage.googleapis.com/autosigma-hub/img/specials/mustang.png');
}

#autosigma.autosigma-ams2 #Fiesta div.jellyBean,
#autosigma.autosigma-ams2.autosigma-fiesta div.jellyBean {
    background-image: url('https://storage.googleapis.com/autosigma-hub/img/specials/fiesta.png');
}

#autosigma.autosigma-ams2 #Ranger div.jellyBean,
#autosigma.autosigma-ams2.autosigma-ranger div.jellyBean {
    background-image: url('https://storage.googleapis.com/autosigma-hub/img/t3/ford/2019/ranger/2.png');
}
